#picker {
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 570px;
  background: #ECECEC;
  -moz-border-bottom-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	border-bottom-right-radius: 25px;
	opacity: 0.5;
}